<div class="container">
    <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">

    <h1 style="color: red" class="text-center">Projects </h1>
    <h3>Please provide the project Details!!!</h3>

    <form [formGroup]="newProjectForm" (ngSubmit)="saveProject()">
    <div class="form-group">
        <label>Project Name</label>
        <input class="form-control" type="text" id="projectName" formControlName="projectName" placeholder="projectName" />
        <div class="text-danger" *ngIf="newProjectForm.get('projectName').errors?.['required'] && newProjectForm.get('projectName')?.touched ">
             Please provide new project name!!
    </div><br />
    </div>
    <div class="form-group">
        <label>start Date</label>
        <input class="form-control" type="text" id="startDate" formControlName="startDate" placeholder="startDate" />
        <div class="text-danger"
            *ngIf="newProjectForm.get('startDate').errors?.['required'] && newProjectForm.get('startDate')?.touched ">
            Please provide the start date!!
        </div><br />
    </div>

        <div class="form-group">
        <label>end Date</label>
        <input class="form-control" type="text" id="endDate" formControlName="endDate" placeholder="endDate" />
        <div class="text-danger"
            *ngIf="newProjectForm.get('endDate').errors?.['required'] && newProjectForm.get('endDate')?.touched ">
            Please provid the end date!!
        </div><br />
        </div>

        <div class="form-group">
        <label>project Manager</label>
        <input class="form-control" type="text" id="projectManager" formControlName="projectManager" placeholder="projectManager" />
        <div class="text-danger"
            *ngIf="newProjectForm.get('projectManager').errors?.['required'] && newProjectForm.get('projectManager')?.touched ">
            Please prodive project manager name !!
        </div><br />
        </div>

        <div class="form-group" >
        <label>project Budget</label>
        <input class="form-control" type="text" id="projectBudget" formControlName="projectBudget" placeholder="projectBudget" />
        <div class="text-danger"
             *ngIf="newProjectForm.get('projectBudget').errors?.['required'] && newProjectForm.get('projectBudget')?.touched">
            Please provide the project budget!!
        </div><br/>
    </div>
       
        <label >Project Status</label><br/>
        starting <input type="radio" id="projectStatus" value="starting " formControlName="projectStatus" placeholder="project Status" />
        In Progress<input type="radio" id="projectStatus" value="In progress" formControlName="projectStatus" placeholder="project Status" />
        completed <input type="radio" id="projectStatus" value="completed" formControlName="projectStatus" placeholder="project Status" /><br/><br/>

       <label>Project Type :</label>
        <select id="projectType" formControlName="projectType">
            <option value="">Select type</option>
            <option value="New">New</option>
            <option value="Extend">Extend</option>
            <option value="Reopen">Reopen</option>
           
        </select><br /><br />
        
        <button class="btn btn-primary " type="submit">Save</button>
    </form>
    <footer>
        <p>The Project Management System application is designed to efficiently manage projects from initiation to
            completion. It
            provides the management tools with tools to handle projects in an effective and transparent manner. </p>
    </footer>
    </div>
</div>
