<div class="container" >

<div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">


    <h2 style="color: red;" class="text-center">Project Management System</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="form-group">
        <h3 style="color:green">Enter your user name and password</h3>
        <label>Username</label>
        <input class="form-control" type="text" id="userName" formControlName="userName" placeholder="UserName" />
        <div class="text-danger" *ngIf="loginForm.get('userName').errors?.['required'] && loginForm.get('userName')?.touched ">
            Please provide user name!!
        </div><br />
        </div>

        <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="text" id="password" formControlName="password" placeholder="Password" />
        <div class="text-danger" *ngIf="loginForm.get('password').errors?.['required'] && loginForm.get('password')?.touched">
            Please provide password!!
        </div><br /><br />
        </div>

        <button [disabled]="loginForm.invalid" class="btn btn-primary"type="submit">Login</button><br/><br/>
        <p style="color: red;">If you don't have register, sign up here!!!</p>
        <button class="btn btn-success" routerLink="signup">Sign up </button>

    </form>
    <footer>
        <p>The Project Management System application is designed to efficiently manage projects from initiation to completion. It
        provides the management tools with tools to handle projects in an effective and transparent manner. </p>
    </footer>
    </div>
</div>